/* GENERAL */
.page-wrapper {
    display: flex;
    width: 100%;
    height: 100%;
    background: green;
}

.collapse-button {
    border: none;
}

.collapse-button:hover {
    cursor: pointer;
}

/* SIDEBAR */
.sidebar {
    height: 100%;
    background: darkgray;
    overflow-y: auto;
    transition: 0.5s ease all;
}

.sidebar.open {
    width: 250px;
}

.sidebar.closed {
    width: 100px;
}

.sidebar.closed > .header > h1 {
    display: none;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100px;
    background: cornflowerblue;
    color: white;
}

.header > h1 {
    margin-right: 10px;
}

.sidebar-content {

}

.sidebar-content > ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    font-size: 20px;
}

li {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    color: white;
}

.sidebar.closed > .sidebar-content > ul > li > span {
    display: none;
}

/* CONTENT */
.content {
    width: 100%;
    background: blue;
}